  
  /*page name/navbar*/
  #header {
    background-color: black;
    cursor: default;
    font-size: 1.1em;
    height: 4em;
    line-height: 6em;
    width: 100%;
  }

#header .nameTitle{
  font-size: 1.5em;
  height: 2em;
  line-height: 2em;
}


    #header h1 {
      color: #fffd9e;
      height: inherit;
      left: 3em;
      line-height: inherit;
      margin: 0;
      padding: 0;
      position: absolute;
    }

      #header h1 a {
        font-size: 1.25em;
      }

    #header nav {
      height: inherit;
      line-height: inherit;
      position: absolute;
      right: 3em;
      vertical-align: middle;
    }

      #header nav > ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
      }

        #header nav > ul > li {
          border-radius: 4px;
          display: inline-block;
          margin-left: 1em;
          padding-left: 0;
        }

    ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
  }

    ul li {
      padding-left: 0.5em;
    }


/* picture/page text */
  body {
    
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 11pt;
    font-weight: 400;
    line-height: 1.65em;
  }
/*body background*/
  body {
    background-image: url("images/dark-tint.png"), url("images/lego-background.jpg");
    background-size: cover;
    background-position: top center;
  }

 /*link hover*/
  a {
    color: white;
    text-decoration: none;
    }

    a:hover {
      color: #fffd9e;
      border-bottom-color: transparent;
    }

 
/* Thumbnails (images)*/

  .thumbnails {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 3%;
    margin-top: 3%;
  }

    .thumbnails a {
      transition: all 0.2s ease;
      border-bottom: none;
      display: block;
      width: 90%;
      margin: 0 0 2em 0;
      text-align: center;
      border-radius: 4px;
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
      background-color: rgba(255, 255, 255, 0.075);
      outline: 0;
      overflow: hidden;
    }

      .thumbnails a img {
        display: block;
        width: 100%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }

      .thumbnails a h3 {
        margin: 1em;
      }

      .thumbnails a:hover {
        background-color: #421616;
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25), 0 0 0.5em 0 #FF6382;
      }

    .thumbnails > div {
      display: flex;
      flex-direction: column;
      padding-left: 2em;
    }

      .thumbnails > div > :last-child {
        margin-bottom: 0;
      }

footer {
        margin-top: 2%;
        background-color: black;
        color: #fffd9e;

      }
